<h3>{{driver.givenName}} {{driver.familyName}}</h3>
<p>
<strong>Day of Birth: </strong>{{dateFormat dateOfBirth format="D. MMMM YYYY"}}<br>
<strong>Nationality: </strong>{{driver.nationality}}<br>
<strong>Wikipedia: </strong><a href="{{driver.url}}">{{driver.url}}</a><br>
</p>

<p><a href="/drivers">back to drivers</a></p>
