<h2>{{result.raceName}}</h2>
<p>
<strong>Season: </strong>{{result.season}}<br>
<strong>Round: </strong>{{result.round}}<br>
<strong>Date: </strong>{{result.date}}<br>
<strong>Wikipedia: </strong><a href="{{result.url}}">{{result.url}}</a>
</p>
